@import url('/assets/vendor/selesti/core.css');
/* Importing all variables and mixins */
/* Let the browser import the core */
/* Now we can import all our individual styles

    for example we can do this

    @import 'home';
    @import 'home/sliders';
    @import 'contact';
    @import 'contact/map';
    @import 'contact/forms';

    Try not to add any actuall CSS to this file, unless you very
    much know what your doing and why.

    Questions?
*/
/*
*	Utility classes to do general things like width, positioning etc
*/
.width-20 {
  width: 20% !important;
}
.width-25 {
  width: 25% !important;
}
.width-30 {
  width: 30% !important;
}
.width-35 {
  width: 35% !important;
}
.width-40 {
  width: 40% !important;
}
.width-45 {
  width: 45% !important;
}
.width-50 {
  width: 50% !important;
}
.width-55 {
  width: 55% !important;
}
.width-60 {
  width: 60% !important;
}
.width-65 {
  width: 65% !important;
}
.width-70 {
  width: 70% !important;
}
.width-75 {
  width: 75% !important;
}
.width-80 {
  width: 80% !important;
}
.width-85 {
  width: 85% !important;
}
.width-90 {
  width: 90% !important;
}
.width-95 {
  width: 95% !important;
}
.width-100 {
  width: 100% !important;
}
.width-auto {
  width: none !important;
}
@media (max-width: 480px) {
  .width-20,
  .width-25,
  .width-30,
  .width-35,
  .width-40,
  .width-45,
  .width-50,
  .width-55,
  .width-60,
  .width-65,
  .width-70,
  .width-75,
  .width-80,
  .width-85,
  .width-90,
  .width-100 {
    width: none !important;
  }
  .width-xsmall-20 {
    width: 20% !important;
  }
  .width-xsmall-25 {
    width: 25% !important;
  }
  .width-xsmall-30 {
    width: 30% !important;
  }
  .width-xsmall-35 {
    width: 35% !important;
  }
  .width-xsmall-40 {
    width: 40% !important;
  }
  .width-xsmall-45 {
    width: 45% !important;
  }
  .width-xsmall-50 {
    width: 50% !important;
  }
  .width-xsmall-55 {
    width: 55% !important;
  }
  .width-xsmall-60 {
    width: 60% !important;
  }
  .width-xsmall-65 {
    width: 65% !important;
  }
  .width-xsmall-70 {
    width: 70% !important;
  }
  .width-xsmall-75 {
    width: 75% !important;
  }
  .width-xsmall-80 {
    width: 80% !important;
  }
  .width-xsmall-85 {
    width: 85% !important;
  }
  .width-xsmall-90 {
    width: 90% !important;
  }
  .width-xsmall-95 {
    width: 95% !important;
  }
  .width-xsmall-100 {
    width: 100% !important;
  }
  .width-xsmall-auto {
    width: none !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .width-small-20 {
    width: 20% !important;
  }
  .width-small-25 {
    width: 25% !important;
  }
  .width-small-30 {
    width: 30% !important;
  }
  .width-small-35 {
    width: 35% !important;
  }
  .width-small-40 {
    width: 40% !important;
  }
  .width-small-45 {
    width: 45% !important;
  }
  .width-small-50 {
    width: 50% !important;
  }
  .width-small-55 {
    width: 55% !important;
  }
  .width-small-60 {
    width: 60% !important;
  }
  .width-small-65 {
    width: 65% !important;
  }
  .width-small-70 {
    width: 70% !important;
  }
  .width-small-75 {
    width: 75% !important;
  }
  .width-small-80 {
    width: 80% !important;
  }
  .width-small-85 {
    width: 85% !important;
  }
  .width-small-90 {
    width: 90% !important;
  }
  .width-small-95 {
    width: 95% !important;
  }
  .width-small-100 {
    width: 100% !important;
  }
  .width-small-auto {
    width: none !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .width-medium-20 {
    width: 20% !important;
  }
  .width-medium-25 {
    width: 25% !important;
  }
  .width-medium-30 {
    width: 30% !important;
  }
  .width-medium-35 {
    width: 35% !important;
  }
  .width-medium-40 {
    width: 40% !important;
  }
  .width-medium-45 {
    width: 45% !important;
  }
  .width-medium-50 {
    width: 50% !important;
  }
  .width-medium-55 {
    width: 55% !important;
  }
  .width-medium-60 {
    width: 60% !important;
  }
  .width-medium-65 {
    width: 65% !important;
  }
  .width-medium-70 {
    width: 70% !important;
  }
  .width-medium-75 {
    width: 75% !important;
  }
  .width-medium-80 {
    width: 80% !important;
  }
  .width-medium-85 {
    width: 85% !important;
  }
  .width-medium-90 {
    width: 90% !important;
  }
  .width-medium-95 {
    width: 95% !important;
  }
  .width-medium-100 {
    width: 100% !important;
  }
  .width-medium-auto {
    width: none !important;
  }
}
@media (min-width: 960px) and (max-width: 1219px) {
  .width-large-20 {
    width: 20% !important;
  }
  .width-large-25 {
    width: 25% !important;
  }
  .width-large-30 {
    width: 30% !important;
  }
  .width-large-35 {
    width: 35% !important;
  }
  .width-large-40 {
    width: 40% !important;
  }
  .width-large-45 {
    width: 45% !important;
  }
  .width-large-50 {
    width: 50% !important;
  }
  .width-large-55 {
    width: 55% !important;
  }
  .width-large-60 {
    width: 60% !important;
  }
  .width-large-65 {
    width: 65% !important;
  }
  .width-large-70 {
    width: 70% !important;
  }
  .width-large-75 {
    width: 75% !important;
  }
  .width-large-80 {
    width: 80% !important;
  }
  .width-large-85 {
    width: 85% !important;
  }
  .width-large-90 {
    width: 90% !important;
  }
  .width-large-95 {
    width: 95% !important;
  }
  .width-large-100 {
    width: 100% !important;
  }
  .width-large-auto {
    width: none !important;
  }
}
@media (min-width: 1220px) {
  .width-xlarge-20 {
    width: 20% !important;
  }
  .width-xlarge-25 {
    width: 25% !important;
  }
  .width-xlarge-30 {
    width: 30% !important;
  }
  .width-xlarge-35 {
    width: 35% !important;
  }
  .width-xlarge-40 {
    width: 40% !important;
  }
  .width-xlarge-45 {
    width: 45% !important;
  }
  .width-xlarge-50 {
    width: 50% !important;
  }
  .width-xlarge-55 {
    width: 55% !important;
  }
  .width-xlarge-60 {
    width: 60% !important;
  }
  .width-xlarge-65 {
    width: 65% !important;
  }
  .width-xlarge-70 {
    width: 70% !important;
  }
  .width-xlarge-75 {
    width: 75% !important;
  }
  .width-xlarge-80 {
    width: 80% !important;
  }
  .width-xlarge-85 {
    width: 85% !important;
  }
  .width-xlarge-90 {
    width: 90% !important;
  }
  .width-xlarge-95 {
    width: 95% !important;
  }
  .width-xlarge-100 {
    width: 100% !important;
  }
  .width-xlarge-auto {
    width: none !important;
  }
}
.top {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: auto !important;
  right: 0 !important;
  max-width: 100% !important;
}
.top[class*='offset-'] {
  top: 0 !important;
}
.top-left {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: auto !important;
  right: auto !important;
}
.top-center {
  position: absolute !important;
  margin-left: auto !important;
  margin-right: auto !important;
  top: 0 !important;
  left: 0 !important;
  bottom: auto !important;
  right: 0 !important;
}
.top-right {
  position: absolute !important;
  top: 0 !important;
  left: auto !important;
  bottom: auto !important;
  right: 0 !important;
}
.right-center {
  position: absolute !important;
  margin-left: auto !important;
  margin-right: auto !important;
  top: 50% !important;
  left: auto !important;
  bottom: auto !important;
  right: 0 !important;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
.right-center[class*='offset-'] {
  right: 0 !important;
}
.bottom {
  position: absolute !important;
  top: auto !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  max-width: 100% !important;
}
.bottom-right {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  bottom: 0 !important;
  right: 0 !important;
}
.bottom-center {
  position: absolute !important;
  margin-left: auto !important;
  margin-right: auto !important;
  top: auto !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
.bottom-left {
  position: absolute !important;
  top: auto !important;
  left: 0 !important;
  bottom: 0 !important;
  right: auto !important;
}
.left-center {
  position: absolute !important;
  margin-left: auto !important;
  margin-right: auto !important;
  top: 50% !important;
  left: 0 !important;
  bottom: auto !important;
  right: auto !important;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
.center {
  position: absolute !important;
  margin: 0 !important;
  top: 50% !important;
  left: 50% !important;
  margin-right: -50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}
.block-ui-target {
  position: relative;
}
.block-ui-target:before {
  content: "";
  display: none;
  position: absolute;
  z-index: 2000;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #e60128;
  border-left-color: #e60128;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}
.block-ui-target:after {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.7;
  z-index: 1999;
  content: "";
}
.block-ui-target.block-ui-block:after,
.block-ui-target.block-ui-block:before {
  display: block;
}
