// Create variables
.font-size( @target ) {
    font-size: (@target / @basefont) + 0em;
}

// Sprite
@sprite: url('/assets/img/sprite.png');

.sprite(@x, @y) {
    background-image: @sprite;
    background-position: @x+0px @y+0px;
    background-repeat: no-repeat;
}

// Sprite Colour
.sprite-colour(@x, @y, @colour) {
    background-image: @sprite;
    background-position: @x+0px @y+0px;
    background-color: @colour;
    background-repeat: no-repeat;
}

.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.valign{
    top: 50%;
    transform: translateY(-50%);
}