// Colours
@black: 			#131313;
@white: 			#ffffff;

@grey-dark: 		#131313;
@grey-med-dark: 	#333333;
@grey-medium:		#858585;
@grey-med-text: 	#a5a5a5;
@grey: 				#c3c8c8;
@grey-light: 		#d9d9d9;
@grey-light-extra: 	#f0f0f0;

@red: 				#e40027;
@red-dark: 			#c50021;

// Breakpoints
@uk-grid-xsmall: 		0;
@uk-grid-xsmall-min: 	@uk-grid-xsmall;
@uk-grid-xsmall-max: 	479px;

	@uk-grid-xsmall-mid: 335px;

@uk-grid-small: 		480px;
@uk-grid-small-min: 	@uk-grid-small;
@uk-grid-small-max: 	767px;

	@uk-grid-small-mid: 	(@uk-grid-small + (((@uk-grid-small-max + 1) - @uk-grid-small-min) / 2));

@uk-grid-medium: 		768px;
@uk-grid-medium-min: 	@uk-grid-medium;
@uk-grid-medium-max: 	959px;

	@uk-grid-medium-mid: 	(@uk-grid-medium + (((@uk-grid-medium-max + 1) - @uk-grid-medium-min) / 2));

@uk-grid-large: 		960px;
@uk-grid-large-min: 	@uk-grid-large;
@uk-grid-large-max: 	1219px;

@uk-grid-xlarge: 		1220px;
@uk-grid-xlarge-min: 	@uk-grid-xlarge;

// This is so instead of putting, say, @media (max-width: @uk-grid-small-max) for all the "mobile" specific stuff, just latch onto this variable which can be changed on a whim and affect all mobile-specific stuffs instantly!
@mobile-breakpoint: 	@uk-grid-medium-max;

@basefont: 16; // in pixels
@baseline: 20; // in pixels